[scipro_dev]
client_name =
client_id =
client_secret =
auth_url =
base_uri =
redirect_uri =
endpoint_url =

[moodle_2_test]
client_name =
client_id =
client_secret =
auth_url =
base_uri =
redirect_uri =
endpoint_url =

[utbytes]
client_name =
client_id =
client_secret =
auth_url =
base_uri =
redirect_uri =
endpoint_url =

[daisy2]
client_name = daisy2
client_id =
client_secret =
auth_url =
base_uri =
redirect_uri =
endpoint_url =
