[scipro_dev]
client_name =
client_id =
clent_secret =
auth_url =
base_uri =
redirect_uri =

[moodle_2_test]
client_name =
base_uri =
redirect_uri =

[utbytes]
client_name =
base_uri =

[daisy2]
client_name =
client_secret =
base_uri =
