[global]
app_env=production                      ; Make sure this is set to production
app_debug=false                         ; Make sure this is set to false for production enviroments
app_url=http://localhost                ; Set this to your domain
case_start_id=2020-1                    ; The starting case id (year-id)
case_ttl=30                             ; Time to live for a case - not yet implemented
authorization_parameter=entitlement     ; The authorization parameter
authorization=                          ; Authorization entitlements
plugin_tries=3                          ; Number of tries a plugin tries to contact a system before reporting error
plugin_request_timeout=7200             ; Timeout before a plugin reports error
registrator=registrator@dsv.su.se       ; Email address of registrar

[database]
db=mysql                                ; Here you can specify which database you use: mysql, sqlite, pgsql, sqlsrv or redis
db_host=127.0.0.1
db_port=3306
db_database=
db_username=
db_password=

[toker]
client_id =
client_secret =
auth_url =
base_uri =
redirect_uri =
